/* PÁGINA PRINCIPAL (HOME) */

.Header{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
}
.Home-p{
    width: 100%;
    max-width: 1400px;
    font-family: "Anton SC", sans-serif;
    font-size: 2em;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.Botones{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: auto;
}
.Boton{
    background-color: transparent;
    padding: 0.5rem;
    border: 2px solid darkcyan;
    border-radius: 10%;
}
.Container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Tarjeta{
    background-color: darkcyan;
    border-radius: 7%;
    gap: 2rem;
    margin: 1rem auto;
}
.Tarjeta-img{
    border-radius: 7%;
    cursor: pointer;
}
.Tarjeta-h2{
    display: flex;
    justify-content: center;
}

.Tarjeta-p{
    text-align: center;
}


/* FOOTER */

.Section-footer{
    margin: 2rem;
}

.Footer-p{
    color: darkcyan;
    display: flex;
    justify-content: center;
}